/*Các line ở đây được tập hợp từ nhiều nguồn và tác giả tự viết, chỉnh sửa. Hiện tại file khá lộn xộn nhưng có một sự ngăn nắp nhất định*/
body, html{
  height: 100%;
  width: 100%;
  margin: 0 0 0 0;
  overflow-y: hidden;
}
@font-face{
  font-family: 'Roboto';
  src: url('../font/Roboto.ttf');
}
#top{
  background: rgba(140, 140, 140, 0.8);
  user-select: none;
}
#nav-body-ctrls{
  background-color: #fff;
  padding: 8px;
  font-family: 'Roboto', sans-serif;
}
#nav-body-ctrls input{
  font-family: 'Roboto', sans-serif;
}
#nav-body-tabs{
  background: transparent;
  height: 36px;
  width: 90%;
  font-family: 'Roboto', sans-serif;
  overflow: hidden !important;
  min-height: 32px;
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  -webkit-app-region: drag;
  padding: none;
}
#nav-body-views{
  flex: 1;
  background: #fff;
}
.nav-icons{
  fill: #606060!important
}
.nav-icons:hover{
  fill: #000!important
}
#nav-ctrls-back,
#nav-ctrls-forward,
#nav-ctrls-reload{
  height: 30px;
  width: 30px;
  margin-right: 10px;
}  
#nav-ctrls-url{
  box-shadow: 0 0 5px #e4e4e4;
  border: 0px;
  border-radius: 20px;
  height: 30px!important;
  margin-left: 8px;
  font-size: 11pt;
  outline: none;
  padding-left: 8px;
  color: #000;
  background: #dbdbdb;
  width: 80%;
  box-shadow: 0 0
}
#nav-ctrls-url:focus{
  color: #303030;
  box-shadow: 0 0
}
#nav-tabs-add{
  margin: 5px;
  fill: #c3c3c3 !important;
  -webkit-app-region: no-drag;
}
#nav-tabs-add:hover{
  fill: #fff !important;
}
.nav-tabs-tab{
  border-radius: 6px;
  height: 35px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #dedede;
  background: rgba(221, 221, 221, 0.14);
  display: flex;
  flex: 1;
  max-width: 200px;
  -webkit-app-region: no-drag;
}
.nav-tabs-tab.active{
  background: #FFF;
}
.nav-tabs-favicon{
  margin: 6px
}
.nav-tabs-title{
  padding-left: 5px;
  font-style: normal;
  font-weight: 700;
  color: #232323
}
.nav-tabs-title:hover{
  color: #000
}
.nav-tabs-close{
  width: 18px !important;
  height: 18px !important;
  margin: 6px;
  margin-left: 2px;
}
.nav-tabs-close:hover{
  fill: #ff0000 !important;
}
html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#wrapper{
  display: flex;
  flex-direction: column;
  flex: 1
}
#nav-body-view-wrapper{
  display: flex;
  flex: 1
}
#title{
  position: fixed;
  top: 0px;
  left: 6px; 
}
#title-bar-btns{
  position: fixed;
  top: 3px;
  right: 5px;
  background: transparent;
  display: inline-block;
  -webkit-app-region: no-drag;
}
#title-bar-btns button{
  background: transparent;
  color: #000;
  font-size: 25px;
  border: none;
  width: 25px;
  height: 15px;
}
