/*Bạn đang kiếm cái gì ở đây :D?
What are you looking for :D?*/
input{
    color: white;
    background-color: aliceblue;
}
body, html{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
h4{
    color: #00d77d;
}